/*Main*/
/* Hébergements*/

.conteneur-box-gris{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box-gris p{
    margin: 0px;
    font-size: 14px;
  }
  .box-gris h1, .box-gris h2{
    margin-left: 50px;
  }

  .box-gris h2{
    margin-top: 50px;  
  }
.box-gris h3{
    margin-top:10px;
    margin-bottom: 5px;
  }
  .box-gris{ 
    border: #F2F2F2 solid 1px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;}
  
   .flex-card{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .card {
  width: 28%;
  height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 5px 10px 5px;
    background: white;
    margin: 1em;
  }
  .card img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height:9em;
    object-fit: cover;
    object-position: center;
  }
 
  .container {
   margin-left: 10px;
    background-color: white;
    border-radius: 20px;
  }
  
  .fa-star{
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    padding-right:0 ;
  }
  .étoile-vide{
    color: #F2F2F2;
  }
  
  /*Populaires*/
  .flex-icone{
    display: flex;
  align-items: center;
  justify-content: space-between;

  } 
   .box-gris2{
    border-radius: 20px;
    width: 30%;
    border: #F2F2F2 solid 1px;
    background-color: #F2F2F2;
   }
  .box-gris2 h1{
    margin-left: 1em; 
  }
  .fa-chart-line{
    margin-top: 3em;
    margin-right:  3em;
  }
.card2 .container{
    margin-left: 1em;
}
  .card2 {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-top: 2em;
      width:85%;
    height:10em;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 20px 20px 20px 20px;
      padding: 5px 5px 5px 5px;
      background: white;
    }
     .card2 img{
    border-radius: 20px 0px 0px 20px;
      width:8em;
      height: 100%;
      object-fit: cover;
    object-position: center;
    
    }
    
    .flex-card2{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
     /*Activité à Marseille*/
  .flex-card3{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-between;
  margin-right: 2em;
  }
  .card3{
    width: 20%;
    height:34em;
    object-fit: cover;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 20px 20px 20px 20px;
      background: white;
      margin-bottom: 3em;
  }
  .card3 img{
    width: 100%;
    height: 30em;
    border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    object-position: center;}
 