@media screen  and (max-width:768px) {
   /*Body*/
   
   body{
    margin: 0px;
    padding: 0px;
   }
   .marge{
    margin: 1em;
   }
    /*Header*/
    header{
      margin-top: 2em;
      flex-direction: column;
      align-items: center;
    }
 .liens-ancrage{
  display: flex;
    margin: 2em 0 2em 0;
    width: 100%;
  }
  .ancre{
    width: 100%;
    display: flex;
    padding-bottom: 2em;
    margin: 0;
    justify-content: center;
    border-bottom: #F2F2F2 solid 3px;
  }
  .ancre:hover{
    padding-top: 0;
    border-top: none;
    border-bottom: #0065FC solid 3px;
  }    
    /*Formulaire*/
      .recherche-barre{
          display: none;
      }
      .recherche-barre-téléphone{
         display: flex;
         justify-content: center;
        }
        .fa-magnifying-glass{  
          color:white;
          }
      .bouton-loupe{
        padding: 0;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
        border: #0065FC;
        height: 4em;
        width: 4em;
      }
  /*Filtre*/
  .conteneur-filtres{
    display:block;
  }
  .filtres{
    display: flex;
    text-align: start;
  }
  .flex-filtres{
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      gap: 10px;
      white-space: nowrap;
      justify-content: center;
  }
  .bouton-filtres{
     width: 100%;
    height: 100%;
    padding-left: 0px;
    margin: auto;
  }
  button{
    width: 100%;
    margin: 0 auto;
  }
  
  .information{
    margin-left: 1em;
  }
  /*Les plus populaires*/
  .conteneur-box-gris{
      display: flex;
      flex-direction: column-reverse;
      
  }
  .box-gris2{
    margin: 0px;
     width: 100%;
     border: #F2F2F2 solid 1px;
     background-color: #F2F2F2;
     border-radius: 0;
  }
  
  .flex-carte2{
      display: flex;
      flex-direction: column;
      margin-right: 2em;
  }
  .carte2{
      width: 90%;
      height: 10em;
  }
  
  /*Hébergement*/
  .box-gris{
    width: 100%;
    border: 0;
    background: white;

  }
  .flex-carte{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carte{
    margin-left: 0px;
    width: 90%;
    height: auto;
    margin-right: 2em;
    padding-bottom: 1em;
  }
  .carte img{
    width: 100%;
    height: 15em;
    margin-left: 0;
  }
  .afficher{
    display: none;
  }
  /*Activités*/
  #activites{
    margin-left: 3em;
  }
  .flex-carte3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carte3{
    width: 90%;
    height: 13em;
  }
  /*Footer*/
  .box-gris3{
    margin-right: 0px;
    width: 100%;
  }
  .footer-liste{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
  }
}