@media screen  and (max-width:768px) {
   /*Body*/
   body{
    margin: 0px;
   }
  
    /*Header*/
    header{
      flex-direction: column;
      align-items: center;
    }
 .liens-ancrage{
  display: flex;
    width: 100%;
  }
  .ancre{
    width: 100%;
    display: flex;
    padding-bottom: 2em;
    margin: 0;
    justify-content: center;
    border-bottom: #F2F2F2 solid 3px;
  }
  .ancre:hover{
    padding-top: 0;
    border-top: none;
    border-bottom: #0065FC solid 3px;
  }    
    /*Formulaire*/
      .bouton-recherche{
        display: none;
      }
      .bouton-loupe{
         display: block;
        }
      .recherche-barre{
        display: flex;
        justify-content: center;
      }
        .fa-magnifying-glass{  
          color:white;
          }
      .bouton-loupe{
        padding: 0;
        margin: 0;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
        border: #0065FC;
        height: 4em;
        width: 4em;
      }
  /*Filtre*/
  .conteneur-filtres{
    display:block;
  }
 
  .flex-filtres{
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      gap: 10px;
      white-space: nowrap;
  }
  .bouton-filtres{
     width: 100%;
    height: 100%;
  }
  button{
    width: 100%;
    margin: 0 auto;
  }
  /*Les plus populaires*/
  .conteneur-box-gris{
      display: flex;
      flex-direction: column-reverse;  
  }
  .conteneur-populaire{
     border-radius: 0;
  }  
  .flex-carte2{
      display: flex;
      flex-direction: column;
  }
  .carte2{
      width: 90%;  
    height: 15em;
  }
  .carte2 img{
    width: 15em;
  }
  /*Hébergement*/
  .conteneur-hébergement{
    background:none;
  }
  .carte{
    margin-left: 0px;
    width: 100%;
    height: auto;
    margin-right: 2em;
    padding-bottom: 1em;
  }
  .carte img{
    width: 100%;
    height: 15em;
    margin-left: 0;
    object-fit:cover;
    object-position:center;
  }
  .afficher{
    display: none;
  }
  /*Activités*/
 #activites{
  margin-left: 2.5em;
 }
  .carte3{
    width: 100%;
    height: 25em;
    margin-right: 2em;
  }
  /*Footer*/

  .liste-pied-de-page{
    display: flex;
    flex-direction: column;

  }
}