/* Body*/
*{
 
  font-family: 'Raleway', sans-serif; 
  font-size: 12px;
  
}
body{ 
max-width: 1400px;
margin-right: auto;
margin-left: auto;
}
.marge{
  margin: 2.5em;
 }
.fa-solid{
  color:#0065FC ;
}
h1 ,h2 ,h3{
  font-weight: bold;
}
h1{
  margin-top: 2em;
}
a {
  color: black;
  text-decoration: none;
}
.icone-blanche{
  color: white;
  }
.icone-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
  /*NAV*/
header {
    display: flex;
  justify-content: space-between;
}
header img {
  width: 61px;
  height: 19px;
}
.ancre{
  margin-right: 1em;
}
.ancre:hover{
  border-top: #0065FC solid 3px;
  color:#0065FC;
  padding-top: 3em;
}

  /*Formulaire*/
.formulaire{
display: flex;
}
.icone-map{
  background-color: #F2F2F2;
  width:4em;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0 0 15px; 
}
.fa-location-dot{
  color: black;
}
.recherche{
  width: 100%;
  height:4em;
  border:1px solid #F2F2F2;
  padding-left: 20px;
}
.recherche::placeholder{
  opacity: 1;
  color:black;
  font-weight: bold;
}
.bouton-loupe{
  display: none;
}
.bouton-recherche{
  margin: 0px;
  background-color: #0065FC;
  border-radius: 0 15px 15px 0;
  border: none;
  width:8em;
}
/*FILTRE*/
.conteneur-filtres{
 display: flex;
 margin-top: 3em;
}
.flex-filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
  border-radius: 30px;
  border:2px solid #F2F2F2;
  padding: 10px 15px 10px 25px;
  background: none;
  font-weight: bold;
  margin-left: 2em;
}
button:hover{
  background-color:#DEEBFF ;
}
.icone-info{
  border: #F2F2F2 solid 1px;
  height: 2em;
width: 2em;
border-radius: 100%;
}
.information{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.p-information{
  margin-left: 1em;
}
/*Main*/
/* Hébergements*/
.conteneur-box-gris{
  display: flex;
  justify-content: space-around;
}
.carte-hotel{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
  background: white;
}
.Boite-grise{
   border: #F2F2F2 solid 1px;
  background-color: #F2F2F2;
   border-radius: 20px;
}
.conteneur {
  background-color: white;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
}
.conteneur-hébergement h1{
  margin-left: 2em;
}
.conteneur-hébergement p{
  margin: 0px;
}
.conteneur-hébergement{ 
  width: 68%;
}
 .flex-carte{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1em;
}
.carte {
width: 27%;
height: 30%;
  margin: 1em;
}
.carte img{
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height:9em;
  object-fit: cover;
  object-position: center;
}

.étoile{
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
}
.étoile-vide{
  color: #F2F2F2;
}

/*Populaires*/
.flex-icone{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2em 4em 0 3em;
} 
.conteneur-populaire{
  width: 30%;
 }
.carte2 {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 1em ;
  width:85%;
  height:10em;
  }
   .carte2 img{
  border-radius: 20px 0px 0px 20px;
    width:8em;
    height: 100%;
    object-fit: cover;
  object-position: center;
  }
  .flex-carte2{
      display: flex;
      flex-direction: column;
  }
   /*Activité à Marseille*/
  

.carte3{
  width: 23%;
  height:34em;
  padding: 0;
  margin: 2em 0 2em 0;
}
.carte3 img{
  width: 100%;
  height: 30em;
  border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  object-position: center;
}
/*Footer*/ 
.pied-de-page{
   width: 100%;
  height: 100%;
  border-radius: 0;
 }
.liste-pied-de-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   margin-right: 15em;
   margin-top: 30px ;
}
.liste ul li a {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  }
.liste ul {
 list-style-type:none;
 padding-left:0px;
 }